body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.padd {
  padding: 20px;
}

.white{
  color: white;
}

.blue{
  color: #3f51b5;
}

.imgstyle {
  height: 600px;
  width: 800px;
  margin: 20px;
}

.imgstyleapod {
  max-height: 1000px;
  max-width: 1600px;
  margin: 20px;
}

.margTop {
  margin-top: 20px;
}